body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.card {
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer {
    margin-top: 20px;
}

footer i {
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer i:hover {
    color: #007bff;
}
